$color-showPercentage: #000000;
$color-range-thump: #5828aa;
$color-range-track: #5e00ec;
$circle-fill-background: rgba(53, 2, 9, 0.733);
$color-pulse: $circle-fill-background;
$show-percentage: "0%";

:root {
  /* Variablen */
  /* Colors */
  /* Colors */
  --show-percentage: "0%";
}

.main {
  header {
    height: 60px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .earth_container {
    width: 300px;
    height: 300px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      border: 4px solid #000;
      border-radius: 100%;
      z-index: -1;
      background-image: linear-gradient(
        0deg,
        $circle-fill-background var(--circle-fill),
        transparent var(--circle-fill)
      );
      box-shadow: 0 0 0 $color-pulse;
      animation: pulse 2s ease-in-out infinite;
    }
    /*
    &::after {
      content: $show-percentage;
      position: absolute;
      bottom: 15%;
      left: 50%;
      transform: translate(-50%, 50%);
      color: $color-showPercentage;
      font-weight: 700;
      font-size: 2.2rem;
    }
    */
  }

  #myChart {
    width: 250px;
    height: 250px;
  }
  #show {
    margin: 0;
    transform: translateY(-60px);
    color: $color-showPercentage;
    text-align: center;
  }

  .rang-slider[type="range"] {
    width: 100%;
    margin-top: 50px;
    -webkit-appearance: none;

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 5px;
      border-radius: 100px;
      background-color: $color-range-track;
      cursor: pointer;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 15px;
      height: 15px;
      background-color: $color-range-thump;
      border-radius: 100%;
      transform: translateY(-5px);
    }
  }
  #year-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .year {
    font-size: 12px;
    text-align: center;
  }

  .burger__smoke {
    position: absolute;
    width: 100%;
    padding-top: 100%;
    left: 0;
    bottom: 1%;
    mask: url(#smoke);
    -webkit-mask-box-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/386739/smoke-mask.png);
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/386739/smoke.png);
    background-size: 100% auto;
    animation: bgpos 8s linear infinite forwards;
    opacity: 1;
    transform-origin: bottom center;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 $color-pulse;
  }
  70% {
    box-shadow: 0 0 0 50px rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

@keyframes bgpos {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 340%;
  }
}
